.slide {
    width: 100%;
    /* margin: 0 auto; */
}

.imagess {
    width: 100%;
    /* background-color: brown; */
    height: 500px;
    object-fit: cover;
    object-position: center;
   
}


@media screen and (max-width: 576px) {

    .imagess{
        /* width: 400px; */
        /* box-sizing: content-box; */
        /* background-color: brown; */
        height: 200px;
       object-fit: contain;
       object-position: center;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .side-bar{
        display: none;
    }

}